
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/now-ui-kit/index.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
            Taekyoung's Portfolio
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                    <i class="now-ui-icons business_bulb-63"></i>
                    <p>About</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
                    <i class="now-ui-icons files_box"></i>
                    <p>Portfolio</p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="./index.html">
                        <i class="now-ui-icons business_chart-pie-36"></i> All components
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://demos.creative-tim.com/now-ui-kit/docs/1.0/getting-started/introduction.html">
                        <i class="now-ui-icons design_bullet-list-67"></i> Documentation
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>Contact</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                    <i class="now-ui-icons loader_gear"></i>
                    <p>Login</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Start on Github" data-placement="bottom" href="https://github.com/taekyom" target="_blank">
                    <i class="fab fa-github"></i>
                    <p class="d-lg-none d-xl-none">Github</p>
                </a>
            </li>
        </ul>
        <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="card-header text-center">
                        <div class="logo-container">
                            <img src="~/assets/img/software-developer.png" alt="">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group no-border input-lg" style="color:white">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="First Name...">
                        </div>
                        <div class="input-group no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Passwod..." />
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-warning btn-round btn-lg btn-block">Login</a>
                        <div class="pull-left">
                            <h6>
                                <a href="#pablo" class="link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="#pablo" class="link">Need Help?</a>
                            </h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

